.design{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, white 50%, #D0E7EA 50%);
    width: 1440px;
    height: 622px;
}

.design__block{
    display: flex;
    justify-content: space-between;
    width: 1264px;
}

.design__info{
    width: 622px;
    height: 622px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.design__info:hover{
    transform: scale(1.05);
}

.design__photo{
    position: absolute;
    z-index: 1;
}

.design__text1{
    position: relative;
    z-index: 2;
    color: rgb(35, 53, 110);
    left: 20px;
    font-size: 25px;
}

.design__text1 a{
    color: rgb(35, 53, 110);
    font-size: 15px;
}

.design__text1 p{
    color: rgb(78, 74, 74);
    font-size: 15px;
    font-weight: 400;
}

.design__text2{
    left: 20px;
    position: relative;
    z-index: 2;
    color: white;
    font-size: 25px;
}

.design__text2 p{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.design__text2 a{
    color: white;
    font-size: 15px;
}

.design__link1{
    position: relative;
    top: 20px;
}