.messenger{
    width: 1440px;
    height: 780px;
    display: flex;
    justify-content: center;
}

.messenger__block{
    width: 1264px;
    display: flex;
}

.messenger__info{
    width: 512px;
    height: 360px;
}

.messenger__text h2{
    font-size: 45px;
    color: rgb(35, 53, 110);
    font-weight: 400;
}

.messenger__info1 h3{
    color: rgb(78, 74, 74);
    font-size: 17px;
    font-weight: 400;
}

.messenger__info1 p{
    font-size: 9px;
    color: rgb(148, 153, 158);
    font-weight: 400;
}

.messenger__info1 a{
    text-decoration: underline;
    color: rgb(148, 153, 158);
}