.portal{
    height: 732px;
}

.portal__block{
    position: absolute;
    height: 732px;
    width: 1440px;
}

.portal__img{
    position: absolute;
    width: 1440px;
    height: 696px;
    z-index: 1;
}

.portal__info{
    z-index: 2;
    position: relative;
    width: 400px;
    height: 350px;
    top: 180px;
    left: 70px;
}

.portal__info p{
    font-weight: 700;
    color: #434140;
}

.portal__info a{
    font-weight: 700;
    color: #1B365D;
    font-size: 15px;
}

.portal__links{
    display: flex;
    width: 430px;
    height: 80px;
    gap: 40px;
    align-items: center;
}

.portal__link1{
    display: flex;
    margin-left: 30px;
    width: 186px;
    height: 46px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 26px; 
}

.portal__link2{
    margin-left: 30px;
}

h2{
    font-weight: 700;
    color: #1B365D;
}

.portal__act{
    position: relative;
    display: flex;
    width: 499px;
    height: 86px;
    z-index: 2;
    background-color: #F1C0C7;
    align-items: center;
    justify-content: center;
    top: 250px;
}

.portal__inf{
    position: relative;
    width: 288px;
    height: 70px;
    font-size: 10px;
    margin: 20px;
}

.portal__inf h3{
    font-weight: 700;
    color: #1B365D;
}

.portal__inf p{
    font-weight: 400;
    color: #1B365D;
}