@import "fonts.css";
@import "base.css";
@import "header.css";
@import "portal.css";
@import "popular.css";
@import "demo.css";
@import "messenger.css";
@import "be-story.css";
@import "built-in.css";
@import "design.css";
@import "products.css";
@import "footer.css";

.wrapper{
    max-width: 1440px;
    margin:auto;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-left: 0;
  }

