.wrapper{
    max-width: 1440px;
    margin:auto;
}

a{
    text-decoration: none;
}

h2{
    color: rgb(35, 53, 110);;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 25px;
    align-items: center;
    color: rgb(35, 53, 110);
    height: 73px;
  }

.header a{
    color: rgb(35, 53, 110);
}

.portal{
    height: 732px;
}

.portal__p{
    position: absolute;
    font-size: 20px;
}

.p1{
    z-index: 1;
}

.p2{
    top: 250px;
    left: 80px;
    z-index: 2;
    width: 300px;
}

.portal__block{
    height: 696px;
    width: 1440px;
    position: relative;
    display: inline-block;
}

.p3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    width: 499px;
    background-color: rgb(235, 186, 202);
    color: rgb(35, 53, 110);
    z-index: 2;
    bottom: -25px;
}

.portal__img{
    position: relative;
    width: 84px;
    height: 54px;
}

.portal__inf{
    font-size: 10px;
    width: 288px;
    height: 70px;
    margin: 20px;
}

.popular{
    height: 700px;
}

.popular__block{
    top: 100px;
    position: relative;
    width: 1264px;
    height: 587px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.popular__img{
    position: absolute;
    z-index: 1;
}

.popular__product{
    width: 304px;
}

.popular__inf{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    color: white;
    
}

.popular__inf a{
    color: white;
}

.demo{
    width: 1440px;
    height: 1100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, white 50%, rgb(205, 233, 233) 50%);
}

.demo__block{
    width: 1264px;
    position: relative;
    justify-content: center;
}

.demo__block h2{
    width: 650px;
    height: 80px;
    font-size: 40px;
}

.demo__info{
    justify-content: center;
    margin: 0 auto;
    width: 1180px;
    height: 170px;
    display: flex;
}

.demo__info h3,
.demo__info a{
    color: rgb(35, 53, 110);;
}

.demo__text{
    width: 360px;
    margin-right: 80px;
}

.demo__text:last-child {
    margin-right: 0; 
}

.messenger{
    width: 1440px;
    height: 780px;
    display: flex;
    justify-content: center;
}

.messenger__block{
    width: 1264px;
    display: flex;
}

.messenger__info{
    width: 512px;
    height: 360px;
}

.messenger__text h2{
    font-size: 45px;
}

.messenger__info1 h3{
    color: rgb(75, 78, 82);
    font-size: 17px;
}

.messenger__info1 p{
    font-size: 9px;
    color: rgb(148, 153, 158);
}

.messenger__info1 a{
    text-decoration: underline;
    color: rgb(148, 153, 158);
}